{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead",
        "corejs": "3.17"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "pluging": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}