@import './variables';

button {
  font-family: GothamPro, serif;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #804480;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  & > svg {
    fill: #fff;
  }
  &:hover {
	background: #571753;
  }
  &:active:not(:disabled) {
	outline: none;
	box-shadow: 0 0 0 4px rgba(128, 68, 128, .3);
  }
  &:disabled {
	color: #b3adad;
	background: rgba(84, 75, 92, .6);
	cursor: not-allowed;
    & > svg {
      fill: #b3adad;
    }
  }
}

.zoom_buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}

.zoom_button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 15px;
  padding: 0;
  &__dec {
	margin-top: 5px;
	padding-bottom: 3px;
  }
}

.navigate_buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.navigate_button {
  font-size: 30px;
  line-height: 14px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  & > svg {
    height: inherit;
    width: inherit;
  }
}

.vertical_buttons {
  bottom: calc(@mainPaddingBottom + (100vh - @otherHeight)/2 - @navigateButtonsGroupLength/2 - 75px/2);
  left: 15px;
  height: @navigateButtonsGroupLength;
  flex-direction: column;
}

.vertical_button {
  width: @navigateButtonWidth;
  height: @navigateButtonLength;
  &__most-top svg, &__top svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  &__most-bottom svg, &__bottom svg  {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.horizontal_buttons {
  bottom: 17px;
  left: calc(@mainPaddingLeft + (100vw - @otherWidth)/2 - @navigateButtonsGroupLength/2);
  width: @navigateButtonsGroupLength;
}

.horizontal_button {
  width: @navigateButtonLength;
  height: @navigateButtonWidth;
  &__most-left svg, &__left svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.add_button {
  position: absolute;
  height: @navigateButtonWidth;
  bottom: 17px;
  &__left {
	left: @mainPaddingLeft;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    & > svg {
      height: 30px;
    }
  }
  &__right {
	right: @mainPaddingRight;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    & > svg {
      height: 30px;
    }
  }
}

.deselect_button {
  position: absolute;
  bottom: calc(35px + @navigateButtonWidth);
  right: calc(@mainPaddingRight/2 - @rightButtonWidth/2);
  height: @navigateButtonWidth;
  width: @rightButtonWidth;
}

.save_button {
  position: absolute;
  bottom: 17px;
  right: calc(@mainPaddingRight/2 - @rightButtonWidth/2);
  height: @navigateButtonWidth;
  width: @rightButtonWidth;
}
.apply_button {
  height: @navigateButtonWidth;
  width: @rightButtonWidth;
  position: absolute;
  bottom: 15px;
  left: calc(50% - @rightButtonWidth/2);
}

.apply-clear_button {
  height: @navigateButtonWidth;
  width: @rightButtonWidth;
}

.map-report_button {
  position: absolute;
  top: 5px;
  left: 15px;
  height: @navigateButtonWidth;
}

.enter_button {
  height: @navigateButtonWidth;
}

.add-and-remove_buttons {
  display: flex;
  min-height: @navigateButtonWidth;
  position: absolute;
  top: 0;
  left: calc(100vw - @mainPaddingRight + 20px);
}

.add-and-remove_button {
  padding: 7px;
  display: flex;
  align-items: center;
  height: @navigateButtonWidth;
  & > svg {
    height: calc(@navigateButtonWidth - 10px);
  }
}

.add-field_button {
  margin-right: 15px;
}

.to-field_button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: @navigateButtonWidth;
  & > svg {
    height: 35px;
  }
  &__left {
    margin-right: 15px;
    & > svg {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  &__right {
    margin-left: 15px;
  }
}

.footer-buttons {
  margin-top: 15px;
}
.change-report {
  height: @navigateButtonWidth;
}

.save-to-pdf {
  height: @navigateButtonWidth;
  margin-left: 20px;
}

.undo-and-return-undo_buttons {
  display: flex;
  min-height: @navigateButtonWidth;
  position: absolute;
  top: 5px;
  left: 105px;
}

.undo-and-return-undo_button {
  padding: 9px;
  display: flex;
  align-items: center;
  height: @navigateButtonWidth;
  & > svg {
    height: calc(@navigateButtonWidth - 14px);
  }
}

.return-undo_button {
  margin-left: 15px;
  & > svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) and (min-aspect-ratio: 39/20) {
  button {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .zoom_buttons {
    left: 18px;
    top: 10px;
  }

  .zoom_button {
    width: 24px;
    height: 24px;
    font-size: 24px;
    &__dec {
      margin-top: 5px;
      padding-bottom: 3px;
    }
  }

  .vertical_buttons {
    bottom: auto;
    top: 80px;
    left: 15px;
    height: @mob_navigateButtonsGroupLength;
  }

  .vertical_button {
    width: @mob_navigateButtonWidth;
    height: @mob_navigateButtonLength;
  }

  .horizontal_buttons {
    bottom: 15px;
    left: calc(@mob_mainPaddingLeft + (100vw - @mob_otherWidth)/2 - @mob_navigateButtonsGroupLength/2);
    width: @mob_navigateButtonsGroupLength;
  }

  .horizontal_button {
    width: @mob_navigateButtonLength;
    height: @mob_navigateButtonWidth;
  }

  .add_button {
    height: @mob_navigateButtonWidth;
    bottom: 15px;
    padding: 4px 7px;
    &__left {
      left: @mob_mainPaddingLeft;
    }
    &__right {
      right: @mob_mainPaddingRight;
    }
    & > svg {
      height: 22px;
    }
  }

  .deselect_button {
    position: absolute;
    bottom: calc(27px + @mob_navigateButtonWidth);
    right: calc(@mob_mainPaddingRight/2 - @mob_rightButtonWidth/2);
    height: @mob_navigateButtonWidth;
    width: @mob_rightButtonWidth;
  }

  .save_button {
    bottom: 15px;
    right: calc(@mob_mainPaddingRight/2 - @mob_rightButtonWidth/2);
    height: @mob_navigateButtonWidth;
    width: @mob_rightButtonWidth;
  }
  .apply_button {
    height: @mob_navigateButtonWidth;
    width: @mob_rightButtonWidth;
    bottom: 15px;
    left: calc(50% - @mob_rightButtonWidth/2);
  }

  .apply-clear_button {
    height: @mob_navigateButtonWidth;
    width: @mob_rightButtonWidth;
  }

  .map-report_button {
    height: @mob_navigateButtonWidth;
  }

  .enter_button {
    height: @mob_navigateButtonWidth;
  }

  .add-and-remove_buttons {
    min-height: @mob_navigateButtonWidth;
    left: calc(100vw - @mob_mainPaddingRight + 20px);
  }

  .add-and-remove_button {
    padding: 5px;
    height: @mob_navigateButtonWidth;
    & > svg {
      height: calc(@mob_navigateButtonWidth - 10px);
    }
  }

  .add-field_button {
    margin-right: 12px;
  }

  .to-field_button {
    padding: 0 7px;
    height: @mob_navigateButtonWidth;
    & > svg {
      height: 25px;
    }
    &__left {
      margin-right: 12px;
    }
    &__right {
      margin-left: 12px;
    }
  }

  .footer-buttons {
    margin-top: 15px;
  }
  .change-report {
    height: @mob_navigateButtonWidth;
  }

  .undo-and-return-undo_buttons {
    min-height: @mob_navigateButtonWidth;
    top: 5px;
    left: 86px;
  }

  .undo-and-return-undo_button {
    padding: 7px;
    height: @mob_navigateButtonWidth;
    & > svg {
      height: calc(@mob_navigateButtonWidth - 14px);
    }
  }

  .return-undo_button {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .save-to-pdf {
    display: none;
  }

  .shift_button {
    height: @mob_navigateButtonWidth;
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}