@import './variables';

.current-cell {
  &-wrap {
	position: absolute;
	right: 0;
	top: 80px;
	width: @mainPaddingRight;
  }
  &-header {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
  }
  &-select {
	margin-top: 15px;
	padding: 0 10px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
  }
  &-label {
	min-width: 50px;
  }
  &-button {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
}