.report {
  padding: 20px 70px 20px;
  &-th_name {
    width: 33%;
    min-width: 70px;
  }
  &-th_icon {
    width: 61px;
    background: url('../img/icon.png') no-repeat center center;
    background-size: 30px 30px;
  }
  table {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
  }
  table th {
    font-weight: bold;
    padding: 5px;
    background-color: #efefef;
    border: 1px solid #dddddd;
  }
  table td {
    border: 1px solid #dddddd;
    padding: 5px;
  }
  &-header {
    text-decoration: underline;
  }
  &-sort_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
  }
  &-number {
    text-align: center;
  }
}