.report {
  padding: 20px 70px 20px;
  font-size: 14px;
  &-th_name {
    width: 33%;
    min-width: 100px;
  }
  &-th_icon {
    width: 54px;
    background: url('../img/icon.png') no-repeat center center;
    background-size: 25px 25px;
  }
  &-th_sum {
	width: 11%;
	min-width: 60px;
  }
  &-th_num {
	width: 10%;
	min-width: 60px;
  }
  &-td_hatching {
	padding: 0;
  }
  table {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
  }
  table th {
    font-weight: bold;
    padding: 5px;
    background-color: #efefef;
    border: 1px solid #dddddd;
  }
  table td {
    border: 1px solid #dddddd;
    padding: 5px;
	&.report-td_hatching {
	  padding: 0;
	  .report-sort_icon {
		width: 21px;
		height: 21px;
	  }
	}
  }
  &-header {
    text-decoration: underline;
  }
  &-sort_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
	margin: 0 auto;
  }
  &-number {
    text-align: center;
  }
  &-total {
	font-size: 16px;
	font-weight: bold;
	& span {
	  font-size: 14px;
	}
  }
}