@headerMargin: 10px;
@headerLineHeight: 21px;
@headerHeight: @headerMargin*2 + @headerLineHeight;
@paddingTop: 10px;
@paddingRight: 220px;
@paddingBottom: 100px;
@paddingLeft: 70px;
@otherHeight: @headerHeight + @paddingTop + @paddingBottom;
@otherWidth: @paddingLeft + @paddingRight;
@navigateButtonsLength: 120px;
@navigateButtonLength: 50px;
@navigateButtonWidth: 40px;