@headerPadding: 10px;
@mainHeaderLineHeight: 31px;
@mainHeaderHeight: @headerPadding*2 + @mainHeaderLineHeight;
@fieldHeaderLineHeight: 20px;
@fieldHeaderHeight: @headerPadding*2 + @fieldHeaderLineHeight;
@mainPaddingTop: 45px;
@mainPaddingRight: 220px;
@mainPaddingBottom: 100px;
@mainPaddingLeft: 100px;
@otherHeight: @mainHeaderHeight + @mainPaddingTop + @mainPaddingBottom;
@otherWidth: @mainPaddingLeft + @mainPaddingRight;
@navigateButtonsGroupLength: 260px;
@navigateButtonLength: 50px;
@navigateButtonWidth: 40px;
@rightButtonWidth: 158px;
@selectHeight: 30px;